:root{
    --djv-primary-color: rgb(139,157,195);
    --djv-secondary-color: rgb(99,115, 172);
    --djv-highlight-color: rgb(223,227,238);
    --djv-dark-color: rgb(59,89,152);
    --djv-light-color: rgb(255,255,255);
    --djv-background-color: rgba(247,247,247);

    --djv-nav-toggler-glow: rgb(250, 151, 92);
    --djv-nav-toggler-color: rgb(138, 78, 187);

    --djv-title-color: var(var(--djv-dark-color));

    --djv-font-size: 1.2rem;
    --djv-font-weight: 400;
    --djv-line-height: 1.5rem;

    --djv-title-font: 'Oswald', sans-serif;
    --djv-subtitle-font: 'Oswald', sans-serif;
    --djv-heading-font: 'Ibarra Real Nova', serif;
    --djv-body-font:  'Roboto', sans-serif;

}

html,body{
    height:100%;
}

body{
    display: flex;
    flex-direction: column;

    font-size: var(--djv-font-size);
    font-weight: var(--djv-font-weight);
    line-height: var(--djv-line-height);

    font-family: var(--djv-body-font);
    background-color:var(--djv-background-color);
    color: var(--djv-dark-color);

}
/* sticky footer and page layout */
header{
    margin-top: 74px;
}

main{
    flex:1 0 auto;
}

footer{
    flex-shrink: 0;
}

h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1{
    font-family: var(--djv-heading-font);
    font-weight:700;
    text-transform: uppercase;
    color:var(--djv-title-color);
}
/*NavBar Overrides*/
#mainNav{
    background: var(--djv-dark-color);
    border-color:var(--djv-highlight-color);
}



.navbar-toggler{
    color: var(--djv-nav-toggler-glow) !important;
}

.navbar-toggler-icon-djv{
    color: var(--djv-nav-toggler-color);
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;

}

/*Main Header Styles */
.mainHeader{
    background-image: url(/img/PortfolioImages/img/DevPortFolioBG_576.png);
    height: 200px;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: var(--djv-background-color)
}

.mainHeader-cover{
    background-image: url(/img/cityBG_2560.png);
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top left;
    overflow: hidden;
    color: var(--djv-light-color)
}

.mainHeader-cover>.mainHeader-content{
    backdrop-filter: blur(1px);
}

.mainHeader-wrapper{
    padding-left:1rem;
    padding-right:1rem;
}

/*Main Title Styles*/
.mainTitle{
    font-size: 4.0rem;
    line-height: 4rem;
    font-family: var(--djv-title-font);

}

.mainLogo{
    height: .6em;

}

.subTitle{
    font-size: .8rem;
    line-height: 2rem;
    font-weight: 300;
    letter-spacing: .09rem;
    color: var(--djv-light-color);
    font-family: var(--djv-subtitle-font);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.profilePic{
    border-radius:20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 7px 10px rgba(0,0,0,.5);
}

.devicon{
    font-size: 4rem;
}
/*Footer Styles*/
.footer-bg-cta{
    background: linear-gradient(to bottom, var(--djv-background-color), var(--djv-background-color) 50%, var(--djv-dark-color) 50%, var(--djv-dark-color) 100%);
}

.footer-cta{
    border-radius:10px;
    background-color:var(--djv-secondary-color);
    width:75%;
}

.footer-main{
    background-color: var(--djv-dark-color);
    color: var(--djv-light-color);
}

.socialicon{
    font-size: 2rem;

}

a.socialicon{
    color: var(--djv-secondary-color);
    opacity: 1;

}

a.socialicon:hover{
    color: var(--cf-highlight-color);
    opacity: 1;
}

/* Section Styles */
.section-page{
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-page:nth-child(even){
    background-color: var(--djv-light-color);
}

.section-page:nth-child(odd){
    background-color: var(--djv-dark-color);
    color: var(--djv-light-color);
}

.section-page:nth-last-child(2){
    background-color: var(--djv-dark-color);
    color: var(--djv-light-color);
}

.section-page:last-child{
    background-color: var(--djv-light-color);
    color:var(--djv-dark-color);
}

.section-cta{
    background-color: var(--djv-primary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align:center;
}

.cta-arrow{
    color: var(--djv-highlight-color);
    font-size: 2.5rem;
}

.linkstyle{
    text-decoration:none;
}
/* Media Queries*/
@media (min-width: 575.98px){
    .mainHeader{
        background-image: url(/img/PortfolioImages/img/DevPortFolioBG_767.png);
        height: 250px;

    }
    .mainTitle{
        font-size: 4.5rem;
        line-height: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .subTitle{
        font-size: 1.2rem;
        line-height: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
    }
}

@media (min-width: 767.98px){
    .mainHeader{
        background-image: url(/img/PortfolioImages/img/DevPortFolioBG_992.png);
        height: 350px;
    }

    .mainTitle{
        font-size: 5rem;
        line-height: 3rem;
    }

    .subTitle{
        font-size: 1.2rem;
        line-height: 2.5rem;
        
    }
}

@media (min-width: 991.98px){
    .mainHeader{
        background-image: url(/img/PortfolioImages/img/DevPortFolioBG_1200.png);
        height: 400px;
    }
    .mainTitle{
        font-size: 5.5rem;
        line-height: 4rem;
    }

    .subTitle{
        font-size: 1.5rem;
        line-height: 2.8rem;
        
    }
}

@media (min-width: 1199.98px){
    .mainHeader{
        background-image: url(/img/PortfolioImages/img/DevPortFolioBG_2560.png);
        height: 500px;
    }

    .mainTitle{
        font-size: 6rem;
        line-height: 5rem;
    
    }

    .subTitle{
        font-size: 1.8rem;
        line-height: 3.1rem;
    }
}
